.power-widget {
  font-size: 2rem;
  background-color: $bg;
  color: $fg-alt;
  padding: .5rem .5rem .5rem 1.2rem;
  border-top: .05rem solid $border;
  border-bottom: .05rem solid $border;
  border-right: .05rem solid $border; 
}

.poweroff {
   :hover {
      color: $red;
  }
}

.reboot {
   :hover {
      color: $green;
  }
}

.block {
   :hover {
      color: $blue;
  }
}
