//* Variables *//

* {
  all: unset;
  transition: 50ms;
}

$shadow: #151515;
$border: #464646;
$bg: rgba(0, 0, 0, 0.65);
$bg-alt: #090909;
$bg-alt2: #a0a0a0;
$fg: #f0f0f0;
$fg-alt: #cacaca;
$fg-alt2: #a0a0a0;
$black: #262626;
$black1: #000000;
$gray: #bababa;
$red: #c4a39e;
$green: #9ec49f;
$yellow: #CEB99B;
$yellow1: #6A5B46;
$yellow3: #CDBDA7;
$blue: #8A8A8A;
$magenta: #c49ec4;
$cyan: #9ec3c4;
$white: #ffffff;

