//* Variables *//

* {
  all: unset;
  transition: 50ms;
}


$shadow: #d0d0d0;
$border: #c0c0c0;
$bg: rgba(255, 255, 255, 0.75);
$bg-alt: #f5f5f5;
$bg-alt2: #c0c0c0;
$fg: #1a1a1a;
$fg-alt: #333333;
$fg-alt2: #555555;
$black: #000000;
$black1: #1a1a1a;
$gray: #777777;
$red: #d97b6c;
$green: #6ca86c;
$yellow: #c4a94d;
$yellow1: #9a8135;
$yellow3: #d6c27a;
$blue: #4a79c4;
$magenta: #a65ca6;
$cyan: #4ca6a6;
$white: #ffffff;
 

